#hero {
  background: url("../images/places/ocean.jpg") no-repeat center;
  background-size: cover;
  height: 800px;
}

#hero-content {
  background-color: rgba(51, 47, 47, 0.8);
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  text-align: center;
  top: 200px;
  width: 900px;
}

#hero-content h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
}

#hero-content p {
  color: white;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

#hero-content a {
  background-color: rgb(255, 251, 0);
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  color: black;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
}

#hero-content a:hover {
  background-color: rgb(255, 238, 0);
}

#highlights h2 {
  color: rgb(59, 65, 64);
  font-size: 40px;
  margin: 24px 0;
  text-align: center;
  text-transform: uppercase;
}

#destinations {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;
  width: 90%;
}

#destinations li {
  margin: 0 20px;
  width: 100%;
}

#destinations li img {
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  height: 200px;
  object-fit: cover;
  width: 100%;
}

#destinations p {
  color: rgb(124, 123, 123);
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

#destinations strong {
  color: rgb(0, 160, 117);
}
